@model PetShop.Models.User
@{
    ViewData["Title"] = "PetShop - Manage Account";
}
@{
    int lastAnimalId = 0;
}
<h1>@User.Identity!.Name's Profile Page</h1>

<div class="mt-4">
    <a class="btn btn-primary" href="/account/manage/update">Update Account Details</a>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteAccount">Delete Account</button>

    <div class="modal fade" id="deleteAccount" tabindex="-1" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteAccountModalLabel">Delete Account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete your Account?</p>
                    @if (Model.Comments.Count == 1)
                    {
                        <p>Your comment will be deleted aswell.</p>
                    }
                    else if (Model.Comments.Count > 1)
                    {
                        <p>All your comments will be deleted aswell.</p>
                    }
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                        <button id="btnDeleteAccount" type="button" class="btn btn-secondary" onclick="deleteAccount(@Model.UserId)">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-4">
    <h3>Comments</h3>
    @if (Model.Comments.Any())
    {
        <ul class="list-group">
            @foreach (var comment in Model.Comments)
            {
                if (lastAnimalId != comment.AnimalId)
                {
                    <a class="btn btn-primary" asp-controller="catalog" asp-action="animal" asp-route-id="@comment.AnimalId" style="margin-bottom:10px; margin-top:10px; width:fit-content">@comment.Animal.Name's Comments:</a>
                    lastAnimalId = comment.AnimalId;
                }
                <li class="list-group-item d-flex justify-content-between align-items-center" style="white-space: pre-wrap;">
                    <span class="col-8 text-break">@comment.Content</span>
                    <button class="btn btn-primary" style="float:right;margin-bottom:2px;" data-bs-toggle="modal" data-bs-target="#editCommentModal-@comment.CommentId">Edit</button>
                    <button class="btn btn-primary" style="float:right;" data-bs-toggle="modal" data-bs-target="#deleteCommentModal-@comment.CommentId">Delete</button>
                </li>
                <!-- Edit Comment Modal -->
                <div class="modal fade" id="editCommentModal-@comment.CommentId" tabindex="-1" aria-labelledby="editCommentModalLabel-@comment.CommentId" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editCommentModalLabel-@comment.CommentId">Edit Comment</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="editCommentForm-@comment.CommentId">
                                    <div class="form-group">
                                        <label for="Content">Comment:</label>
                                        <textarea class="form-control" id="Content-@comment.CommentId" onblur="this.value=this.value.trim()" name="Content" rows="4" minlength="2" maxlength="100" required>@comment.Content</textarea>
                                        <div class="invalid-feedback">
                                            Comment must be between 2 and 100 characters.
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                        <button id="btnEditComment-@comment.CommentId" type="button" class="btn btn-secondary" onclick="editComment(@comment.CommentId, @comment.AnimalId)">Save changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Delete Comment Modal -->
                <div class="modal fade" id="deleteCommentModal-@comment.CommentId" tabindex="-1" aria-labelledby="deleteCommentModalLabel-@comment.CommentId" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteCommentModalLabel-@comment.CommentId">Delete Comment</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this comment?</p>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                                    <button id="btnDeleteComment-@comment.CommentId" type="button" class="btn btn-secondary" onclick="deleteComment(@comment.CommentId)">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </ul>
    }
    else
    {
        <p>No comments yet.</p>
    }
</div>

<script src="~/scripts/edit-comments.js" defer></script>
