@model PetShop.Models.ViewModels.UserUpdateVM
@{
    ViewData["Title"] = "PetShop - Update Account";
}

<div class="container">
    @if (User.IsInRole("Admin"))
    {
        <h2>Update Password</h2>
    }
    else
    {
        <h2>Update Account</h2>
    }
    <form id="updateAccountForm" class="needs-validation" asp-controller="account" asp-action="updateaccount" method="post" novalidate>
        @Html.AntiForgeryToken()
        <input type="hidden" name="UserId" value="@Model.UserId" />
        <div class="form-group">
            <label for="Username">Username:</label>
            @if (User.IsInRole("Admin"))
            {
                <input type="text" disabled class="form-control" value="@Model.Username" id="name" name="name" onblur="this.value=this.value.trim()" minlength="3" maxlength="15" required />
                <input type="hidden" id="Username" name="Username" value="@Model.Username" />
            }
            else
            {
                <input type="text" class="form-control" value="@Model.Username" id="Username" name="Username" onblur="this.value=this.value.trim()" minlength="3" maxlength="15" required />
            }
            <div class="invalid-feedback">
                Username must be between 3 and 15 characters and contain only English letters and digits.
            </div>
            <span asp-validation-for="Username" class="server-validation text-danger"></span>
        </div>
        <div class="form-group">
            <label for="OldPassword">Old Password:</label>
            <input type="password" class="form-control" id="OldPassword" name="OldPassword" onblur="this.value=this.value.trim()"/>
            <div class="invalid-feedback">
                Password must be between 3 and 25 characters, contain only English letters, digits, the special characters "!@@", and match your current password.
            </div>
            <span asp-validation-for="OldPassword" class="server-validation text-danger"></span>
        </div>
        <div class="form-group">
            <label for="NewPassword">New Password:</label>
            <input type="password" class="form-control" id="NewPassword" name="NewPassword" onblur="this.value=this.value.trim()"/>
            <div class="invalid-feedback">
                Password must be between 3 and 25 characters, contain only English letters, digits, the special characters "!@@", and match the confirm password.
            </div>
            <span asp-validation-for="NewPassword" class="server-validation text-danger"></span>
        </div>
        <div class="form-group">
            <label for="ConfirmNewPassword">Confirm Password:</label>
            <input type="password" class="form-control" id="ConfirmNewPassword" name="ConfirmNewPassword" onblur="this.value=this.value.trim()"/>
            <div class="invalid-feedback">
                Password must be between 3 and 25 characters, contain only English letters, digits, the special characters "!@@", and match the new password.
            </div>
            <span asp-validation-for="ConfirmNewPassword" class="server-validation text-danger"></span>
        </div>
        <button type="submit" id="btnSubmit" class="btn btn-secondary mt-2">Submit</button>
        <a asp-controller="account" asp-action="manage" class="btn btn-primary mt-2">Cancel</a>
    </form>
</div>
<div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="liveToast" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div id="toastText" class="toast-body fs-6"></div>
            <button type="button" class="btn-close me-2 m-auto fs-6" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<script src="~/scripts/update-account.js" defer></script>
