@model PetShop.Models.ViewModels.AnimalCatalogVM
@{
    ViewData["Title"] = "PetShop - Admin Catalog";
}
@{
    var emptyCategories = Model.Categories!.Where(x => x.Animals.Count == 0).Select(x => x.Name).ToArray();
}
<div class="row mt-4 text-center">
    <div class="col">
        <a asp-controller="admin" asp-action="CreateAnimal" class="btn btn-secondary fs-5">Add New Animal</a>
        <a asp-controller="admin" asp-action="CreateCategory" class="btn btn-secondary fs-5">Add New Category</a>
        <button type="button" class="btn btn-secondary fs-5" data-bs-toggle="modal" data-bs-target="#emptyCategoriesModal">
            Delete Empty Categories
        </button>
        <div class="modal fade" id="emptyCategoriesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        @if (emptyCategories.Length <= 0)
                        {
                            <h1 class="modal-title fs-5" id="exampleModalLabel">There are no empty categories to delete!</h1>
                        }
                        else if (emptyCategories.Length == 1)
                        {
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to delete this category?</h1>
                        }
                        else
                        {
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to delete these categories?</h1>
                        }
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    @if (emptyCategories.Length > 1)
                    {
                        <div class="modal-body">
                            @for (int i = 1; i <= emptyCategories.Length; i++)
                            {
                                <p class="text-start">@i. @emptyCategories[i-1]</p>
                            }
                        </div>
                    }
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                        @if (emptyCategories.Length <= 0)
                        {
                            <button id="btnDeleteEmptyCategories" onclick="deleteEmptyCategories()" disabled class="btn btn-secondary">Delete Empty Categories</button>
                        }
                        else if (emptyCategories.Length == 1)
                        {
                            <button id="btnDeleteEmptyCategories" onclick="deleteEmptyCategories()" class="btn btn-secondary">Delete Category "@emptyCategories[0]"</button>
                        }
                        else
                        {
                            <button id="btnDeleteEmptyCategories" onclick="deleteEmptyCategories()" class="btn btn-secondary">Delete Empty Categories</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="liveToast" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            @if (emptyCategories.Length <= 1)
            {
                <div class="toast-body fs-6">Category deleted succesfully.</div>
            }
            else
            {
                <div class="toast-body fs-6">Categories deleted succesfully.</div>
            }
            <button type="button" class="btn-close me-2 m-auto fs-6" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
<form method="get" id="filterForm" asp-controller="admin" asp-action="index">
    <div class="form-group">
        <label id="lblCategory" for="category" class="fs-5">Select Category:</label>
        <select class="form-control" id="category" name="categoryId" onchange="submitForm()">
            <option value="">All Categories</option>
            @foreach (var category in Model.Categories!)
            {
                if (Model.SelectedCategoryId == category.CategoryId)
                {
                    <option value="@category.CategoryId" selected>@category.Name</option>
                }
                else
                {
                    <option value="@category.CategoryId">@category.Name</option>
                }
            }
        </select>
    </div>
    <div class="form-group mt-3">
        <label for="sortOrder" class="fs-5">Sort By:</label>
        <select class="form-control" id="sortOrder" name="sortOrder" onchange="submitForm()">
            @if (Model.SelectedSortOrder == "name")
            {
                <option value="category">Category</option>
                <option value="name" selected>Name</option>
                <option value="comments">Popularity</option>
            }
            else if (Model.SelectedSortOrder == "comments")
            {
                <option value="category">Category</option>
                <option value="name">Name</option>
                <option value="comments" selected>Popularity</option>
            }
            else
            {
                <option value="category" selected>Category</option>
                <option value="name">Name</option>
                <option value="comments">Popularity</option>
            }
        </select>
    </div>
    <div class="form-group mt-3">
        <input type="hidden" id="isDescending" name="isDescending" value="@Model.IsDescending" />
        <label for="btnToggleSortOrder" class="fs-5">Toggle Sort Order: </label>
        <button type="button" class="btn btn-secondary fs-5" id="btnToggleSortOrder" onclick="toggleSortOrder()">@(Model.IsDescending == "true" ? "↓" : "↑")</button>
    </div>
</form>

<div class="row mt-4">
    @foreach (var animal in Model.Animals!)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/images/@animal.PictureName" class="card-img-top" alt="@animal.Name" style="height: 250px; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">@animal.Name</h5>
                    <p class="card-text"><strong>Age:</strong> @animal.Age</p>
                    <p class="card-text"><strong>Category:</strong> @animal.Category.Name</p>
                    <p class="card-text">@animal.Description</p>
                    <a asp-controller="admin" asp-action="edit" asp-route-id="@animal.AnimalId" class="btn btn-primary" style="margin-bottom:2px">Edit Animal</a>
                    <a asp-controller="admin" asp-action="editcomments" asp-route-id="@animal.AnimalId" class="btn btn-primary" style="margin-bottom:2px">Edit Comments</a>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#@animal.AnimalId">
                        Delete Animal
                    </button>
                    <div class="modal fade" id="@animal.AnimalId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to delete this animal?</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                                    <button id="btnDeleteAnimal-@animal.AnimalId" type="button" class="btn btn-secondary" onclick="deleteAnimal(@animal.AnimalId)">Delete Animal</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script src="~/scripts/delete-animal.js" defer></script>